@use "../global" as *;
@use "../partials" as *;

.authentication {
  height: 100vh;

  .left-part {
    height: 100vh;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
    }
  }
  .login-right {
    position: relative;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;

    .login-wrapper {
      overflow-y: auto;
      overflow-x: hidden;
    }

    figure {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
      }
    }

    .authform {
      border: 1px solid #e6e8f0;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      padding: size(14);
      background-color: #fff;
      margin-top: size(30);
      border-radius: 10px;
      overflow: hidden;
      position: relative;
      @include breakpoint(tab992) {
        padding: size(80);
      }
      .animated-btn {
        border-radius: 10px !important;
        height: 50px !important;
      }
      .hidden{
        position: absolute;
        left: -100%;
      }
    }
    .divider {
      margin: size(30) 0;
      border: none;
      width: 100%;
      height: 1px;
      background-color: #e6e8f0;
      position: relative;
      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -15px;
        border: 2px solid white;
        display: inline-block;
        padding: 0 10px;
        background-color: white;
        color: $heading-color;
      }
    }
    .third-party-btn-wrapper {
      display: flex;
      flex-direction: column;
      gap: size(10);
      .fb-btn {
        background-color: transparent;
        border: 2px solid $heading-color !important ;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease;
        text-align: center;
        position: relative;
        outline: 0;
        border: 0;
        &:hover{
          background-color: rgb(59, 59, 145, 0.2);
        }
        span {
          display: flex;
          align-items: center;
          background-color: transparent;
          padding: 6px;
          border-radius: 6px;
          position: absolute;
          height: calc(100% - 5px);
          left: 2px;
        }
      }
      .google-btn {
        background-color: $primary;
        color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        font-size: 16px;
        font-weight: 500;
        transition: background-color 0.3s ease;
        text-align: center;
        position: relative;
        outline: 0;
        border: 0;
        
        &:hover{
          background-color: #3b3b91;
        }
        span {
          display: flex;
          align-items: center;
          background-color: white;
          padding: 6px;
          border-radius: 6px;
          position: absolute;
          height: calc(100% - 5px);
          left: 2px;
        }
      }
    }
  }

  .form-title {
    color: #090d1d;
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: "cpsp" on, "cv06" on, "cv09" on, "cv04" on, "cv03" on,
      "case" on, "ss03" on;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Rubik", sans-serif !important;
  }
  .form-des {
    color: #8f95b2;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .forgot {
    color: #8f95b2;
    text-align: right;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: "cv09" on, "cv04" on, "ss01" on, "cv03" on, "ss03" on,
      "cv06" on;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    @include transitionsall;
    @include hover {
      font-weight: 500;
      color: #090d1d;
    }
  }
  .dont {
    color: #090d1d;
    text-align: center;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: "cv09" on, "cv04" on, "ss01" on, "cv03" on, "ss03" on,
      "cv06" on;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a {
      color: #3fe09d;
      font-variant-numeric: stacked-fractions;
      font-feature-settings: "cv09" on, "cv04" on, "ss01" on, "cv03" on,
        "ss03" on, "cv06" on;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-decoration-line: underline;
    }
  }
  .terms {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    flex-wrap: nowrap;
    input {
      accent-color: #090d1d;
      flex-shrink: 0;
      margin-top: size(4);
    }
    label {
      color: #8f95b2;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      padding-left: 5px;

      a {
        color: #090d1d;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        text-decoration-line: underline;
      }
    }
  }
  .backlogin {
    color: #090d1d;
    text-align: center;
    font-variant-numeric: stacked-fractions;
    font-feature-settings: "cv09" on, "cv04" on, "ss01" on, "cv03" on, "ss03" on,
      "cv06" on;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
}

.input-box {
  @include flex-column;
  gap: size(12);
  position: relative;
  label {
    color: #090d1d;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  input {
    outline: 2px solid #e9e9e9;
    padding: size(10) size(16);
    padding-left: 40px;
    border-radius: 10px;
    @include radius(4);
    @include transitionsall;
    &:hover {
      outline-color: hsl(120, 15%, calc(91% - 10%));
    }
    &:focus {
      outline-color: #a5a5a5;
    }
    &:focus-visible {
      outline: 3px solid rgba(143, 149, 178, 0.5);
    }
    &::placeholder {
      color: #8f95b2;
      text-overflow: ellipsis;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .user-icon, .key-icon {
    position: absolute;
    left: 10px;
    top: 53%;
  }
  .eye {
    position: absolute;
    right: 10px;
    top: 53%;
    cursor: pointer;
  }
}
