@use "../global" as *;
@use "../partials" as *;

.hero-section {
  min-height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 100px;
  @include breakpoint(tab992) {
    padding-top: 0px;
    min-height: 100vh;
  }
  .content {
    .subtitle {
      border-radius: 30px;
      box-shadow: 0 4.4px 30px rgba(19, 16, 34, 0.05);
      background: #fff;
      padding: 8px 20px;
      display: inline-block;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 15px;
      letter-spacing: 1px;
      color: $heading-color;
    }
    .title {
      font-size: 40px;
      margin-bottom: 20px;
      font-weight: 700;
      color: $heading-color;
      @include breakpoint(tab992) {
        font-size: 50px;
      }
    }
    .desc {
      color: $para-color;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-bottom: 10px;
    }
    .btn-wrapper {
      @include flex-center;
      justify-content: flex-start;
      gap: size(10);
      margin-bottom: 20px;
      @include breakpoint(tab992) {
        gap: size(5);
      }
      .our-services {
        @include flex-center;
        font-size: 16px;
        line-height: 1.2380952381;
        color: $heading-color;
        font-weight: 600;
      }
    }
  }
  .banner-thumb-2 {
    position: relative;
    .banner-animate-img {
      position: absolute;
    }
    .banner-animate-img-4 {
      right: -20px;
      top: 0;
      z-index: 0;
    }
    .main-img-wrap {
      z-index: 1;
      margin-left: 160px;
      position: relative;
    }
    .banner-animate-img-1 {
      left: -140px;
      width: 120px;
      z-index: 1;
    }
    .banner-animate-img-2 {
      right: 0;
      z-index: 1;
      top: 50px;
    }
    .banner-animate-img-3 {
      left: -200px;
      bottom: 100px;
      z-index: 1;
    }
    .left_image_bounce {
      animation: left-image-bounce 3s ease-in-out infinite;
    }
    .top_image_bounce {
      animation: top-image-bounce 3s ease-in-out infinite;
    }
    @keyframes left-image-bounce {
      0% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(-5px);
      }
    }
    @keyframes top-image-bounce {
      0% {
        transform: translateY(-8px);
      }

      50% {
        transform: translateY(12px);
      }
      100% {
        transform: translateY(-8px);
      }
    }
  }
}

// about section
.about-area {
  padding: 120px 0px;
  .section-title {
    position: relative;
    .sub-title {
      @include subTitle;
    }
    .title {
      margin-bottom: 0;
      margin-top: 0;
      color: $heading-color;
      font-weight: 600;
    }
    .content {
      margin-top: 17px;
      margin-bottom: 0;
      color: $para-color;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
    .single-list-inner {
      margin: 0;
      padding: 0;
      li {
        color: $heading-color;
        font-weight: 600;
        list-style: none;
        margin-bottom: 12px;
        display: flex;
        svg {
          margin-right: 10px;
          color: $primary;
          font-size: 18px;
          vertical-align: middle;
          width: 18px;
        }
      }
    }
  }
}

// service section
.services-section {
  padding: 100px 0;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

// portfolio
.portfolio-section {
  background-color: $bg-light-gray;
  padding: 100px 0;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
}

// why choose us
.why-choose-us {
  // background-color: $bg-light-gray;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .choose-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .choose-number {
      font-size: 2.5rem;
      color: $primary;
      background-color: $primary-09;
      // border: 2px solid black;
      width: 60px;
      aspect-ratio: 1;
      // padding: 2px 16px 1px 16px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto 20px auto;
    }

    p {
      font-size: 1rem;
      color: $para-color;
    }
  }
}

// Industry section
.industries-covered {
  background-color: $bg-light-gray;
  padding: 40px 0;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #0f223d;
  }

  .text-muted {
    font-size: 1rem;
    color: #66a1e1;
  }

  .industry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .industry-icon {
      font-size: 3rem;
      color: #66a1e1;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.1rem;
      color: #333;
    }
  }

  .view-more-link {
    font-size: 1rem;
    color: #66a1e1;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// testimonials
.testimonial-section {
  // color: #fff;
  padding: 60px 0;
  background-color: $bg-light-gray;

  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .testimonial-slider {
    padding-top: 3rem;
    height: 25rem;

    .swiper-slide:nth-child(even) {
      // background-color: black;
      .testimonial-card {
        transform: translateY(-2rem);
      }
    }
  }

  .testimonial-card {
    background-color: $bg-light-gray;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    transition: transform 0.3 ease;
    margin: 0 auto;

    .testimonial-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      .platform {
        font-size: 1.2rem;
        color: #66a1e1;
        font-weight: bold;
      }

      .stars {
        color: #66a1e1;
      }
    }

    .testimonial-text {
      font-size: 1.1rem;
      color: $para-color;
      margin-bottom: 1.5rem;
      font-style: italic;
    }

    .testimonial-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .author-info {
        display: flex;
        align-items: center;

        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 1rem;
        }

        strong {
          font-size: 1.1rem;
          color: #fff;
        }

        p {
          font-size: 0.9rem;
          color: #66a1e1;
        }
      }

      .testimonial-date {
        text-align: right;
        font-size: 0.9rem;
        color: #aaa;
      }
    }
  }
}

// Team section
.team-section {
  text-align: center;
  padding: 50px 0;

  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .card {
    border: none;
    background-color: $bg-light-gray;
    border-radius: 10px;
    padding: 10px;
    img {
      border-radius: 10px;
      object-fit: cover;
      width: 332px;
      height: 390px;
      margin: auto;
    }

    .card-body {
      h5 {
        font-size: 1.25rem;
        margin-top: 15px;
        color: $heading-color;
      }

      p {
        font-size: 0.875rem;
        color: $para-color;
      }
    }
  }
}

// contact section
.contactus {
  padding-top: 10rem;
  padding-bottom: 6rem;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .left-info {
    .title {
      color: $heading-color;
      line-height: 1.5;
      margin: 0 0 12px;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      font-size: 20px;
    }
    .des {
      color: $para-color;
      font-size: 14px;
      line-height: 1.8;
    }
    .locations {
      @include list-vertical;
      gap: size(10);
      margin-top: 40px;
      li {
        display: flex;
        align-items: center;
        gap: size(10);
        span {
          color: rgb(119, 119, 119);
        }
      }
      .icon {
        @include square(30);
        background-color: #f8f8f8;
        @include flex-center;
        padding: size(5);
        flex-shrink: 0;
      }
    }
  }
  .contact-form {
    .form-title {
      color: $heading-color;
      line-height: 1.5;
      margin: 0 0 12px;
      font-weight: 500;
      text-rendering: optimizeLegibility;
      font-size: 20px;
    }
    input,
    textarea {
      border: 1px solid #eaeaea;
      @include w100;
      padding: 10px;
      @include transitionsall;
      &:focus {
        border-color: gray;
      }
    }
    svg {
      width: 20px;
    }
  }
}


.faq-section {
  padding: 50px 0;
  background-color: $bg-light-gray;
  .section-title {
    text-align: center;
    margin-bottom: 50px;
    .sub-title {
      @include subTitle;
    }
    .title {
      color: $heading-color;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }
  .faq-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .faq-column {
      width: 46%;
      margin-bottom: 30px;
      position: relative;
      .focus {
        position: absolute;
        top: 20px;
        left: -45px;
        height: 100%;
        border-radius: 50%;
        font-size: 12px;
      }
      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        svg {
          fill: $primary;
          width: 30px;
          height: 30px;
        }
        .divider {
          width: 3px !important;
          height: 90px;
          background-color: $primary;
          margin: auto;
        }
      }
      h4 {
        color: $secondary-color;
        font-size: 1.5rem;
        font-weight: 600;
      }

      p {
        color: $secondary-color;
        font-size: 1rem;
        margin-top: 10px;
      }

      .faq-item {
        // display: flex;
        // align-items: flex-start;

        margin-bottom: 30px;
        padding-left: 20px;
        position: relative;
        // height: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    .faq-row {
      flex-direction: column;
      .faq-column {
        width: 100%;
      }
    }
  }
}
