@use "../global" as *;
@use "../partials" as *;

.student-details {
  .student-info {
    margin-bottom: 24px;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0px 40px;
    justify-content: center;
    @include breakpoint(mobile768) {
      justify-content: space-between;
      padding: 0px 0px;
    }
    .student-name {
      overflow: hidden;
      color: #1e293b;
      text-overflow: ellipsis;
      font-family: $secondaryFont;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .date,
    .email,
    .social-icon {
      color: #1e293b;
      font-family: $secondaryFont;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .social-icon-wrapper{
      display: flex;
      gap: 10px;
    }
  }
  .student-summary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
    .summary-card {
      padding: 24px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      background: #fff;
      box-shadow: 0px 1px 3px 0px rgba(17, 24, 39, 0.09);
      flex-basis: 221px;
      // flex-grow: 1;
      height: 93px;
      .title {
        color: #1e293b;
        font-family: $secondaryFont;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-bottom: 4px;
      }
      .des {
        color: #475569;
        font-family: $secondaryFont;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
      }
    }
  }
  .section-top {
    padding-bottom: 20px;
  }
}
.admin-table {
  tbody {
    td {
      .course-image-container {
        .author-img {
          width: 34px !important;
          height: 34px !important;
          border-radius: 50% !important;
          // overflow: visible;
          img {
            height: 100%;
          }
        }
      }
    }
  }
}
.flag-icon {
  position: absolute;
  top: -6px;
  left: -3px;
  border-radius: 100px;
  border: 0.5px solid #f00;
  background: #fff;
  display: flex;
  width: 18.188px;
  height: 18.188px;
  transform: rotate(-12.477deg);
  // padding: 5.519px 5.678px 4.669px 4.51px;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.flagged-msg-container {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(17, 24, 39, 0.09);
  max-width: 954px;
  // height: 328px;
  flex-shrink: 0;
  padding: 24px;
  margin-top: 12px;
  font-family: $secondaryFont;
  .title-main {
    color: #ff4141;
    font-family: $secondaryFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .line {
    background: #e2e8f0;
    width: 906px;
    height: 1px;
    margin: 10px 0px;
  }
  p {
    color: var(--Neutral-N700, #696f8c);

    /* Paragraph/P-200 */
    font-family: $secondaryFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }
}
