@use "../../global" as *;
@use "../../partials" as *;

.progress-wrapper {
  padding: 40px 24px;
  overflow: auto;
  .progress {
    position: absolute;
    top: 20px;
    left: 50%;
    height: 4px;
    transform: translateX(-50%);
    width: 95%;
    // z-index: -1;
    .progress-bar {
      background-color: #33be7b;
    }
  }
  .step-wrapper{
    display: flex;
  }
  .progress-step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Branding-Success, #33be7b);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 285.714% */
    border: 1px dashed #33be7b;
    margin: auto;
    position: relative;
    z-index: 1;
  

    &.completed {
      background-color: #33be7b;
      color: white;
    }

    &.active {
      background-color: #33be7b;
      color: white;
    }

    i {
      font-size: 1.5rem;
    }
  }
  .progress-step + p {
    color: var(--Gray-Scale-Gray-800, #333);
    text-align: center;

    /* Body Small/Body Small, 400 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  .progress-step.completed + p {
    color: var(--Branding-Success-Dark, #0e884d);
    text-align: center;

    /* Body Small/Body Small, 400 */
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
  }
  .progress-step.active + p {
    color: var(--Branding-Success-Dark, #0e884d);
    text-align: center;

    /* Body Small/Body Small, 500 */
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 21px */
  }
}