
@use "../../global" as *;
@use "../../partials" as *;

.project-upload-form {
  // max-width: 600px;
  margin: 0 auto;
  // padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: $primary;
  }

  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    label {
      font-weight: 600;
      margin-bottom: 8px;
      color: #333;
    }

    input[type="file"] {
      line-height: 2;
    }

    input[type="text"],
    input[type="url"],
    textarea,
    .technologies-input {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #fff;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary;
        outline: none;
      }
    }

    textarea {
      resize: vertical;
      min-height: 100px;
    }
  }
}