@use "../../global" as *;
@use "../../partials" as *;

// remove outline in Firefox
.animated-btn::-moz-focus-inner {
  border: 0;
}

.animated-btn {
  height: 55px;
  line-height: 55px;
  padding: 0 30px;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  border: 2px solid $primary;
  transition: all .5s ease;
  font-weight: 600;
  border-radius: 30px;
  z-index: 0;
  display: flex;
  color: $heading-color;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  &:hover{
    color: #fff;
  }
  // @include breakpoint(tab992) {
  //   padding: 18px 16px;
  // }
  &:after {
    content: "";
    background: $primary;
    position: absolute;
    transition: all 0.3s ease-in;
    z-index: -1;  
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(30deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
  }

  // self-gratifying hover/focus transition
  // only works with pseudo element
  &:hover,
  &:focus {
    &:after {
      height: 100%;
      width: 135%;
    }
  }
}

.btn-addmoderator {
  @include flex;
  align-items: center;
  justify-content: center;
  gap: size(10);
  @include border(solid, 1, #e2e8f0);
  padding: 10px 14px;
  color: #1e293b;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  @include radius(100);
  background-color: $white;
  @include transitionsall;
  @include hover {
    background: darken(white, 5%);
  }
  &.fxwidth {
    padding: 0;
    width: size(160);
    height: size(35);
  }
}

.btn-remove {
  border-radius: 6px;
  color: $white;
  text-align: center;
  background: #ff4141;

  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  padding: 12px 27px;
  @include transitionsall;
  @include hover {
    background: darken(#ff4141, 5%);
  }
  &.fxwidth {
    padding: 0;
    width: size(100);
    height: size(35);
  }
}

.btn-cancel {
  @include border(solid, 1, #e2e8f0);
  padding: 10px 14px;
  color: #667085;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 6px;
  background-color: $white;
  @include transitionsall;
  @include hover {
    background: darken(white, 5%);
  }
  &.fxwidth {
    padding: 0;
    width: size(100);
    height: size(35);
  }
}

.btn-dashboard {
  display: inline-flex;
  padding: 11px 17px 12px 17px;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: $primary;
  color: $white;
  @include transitionsall;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 0;
  outline: 0;
  @include hover {
    background-color: (darken($primary, 5%));
  }
}

.add-employee {
  color: #475569;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  background: #fff;
  padding: 10px;

  /* Button/Base */
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px; /* 100% */
}

.feedbackBtn {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  font-size: 1rem; 
  border: none; 
  border-radius: 4px;
  cursor: pointer; 
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #45a049; 
  }
  &:focus {
    outline: none; 
    box-shadow: 0 0 0 3px rgba(72, 191, 68, 0.5); 
  }
}

